.sundo-shrapnel-chapter-selector-component {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.3);
    border-bottom-right-radius: 10px;
}

.sundo-shrapnel-chapter-selector-chapter {
    width: 80px;
    height: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 5px;
    
}
.sundo-shrapnel-chapter-selector-chapter-header {
    font-family: 'DancingScript';
    font-size: 12pt;
    font-weight: 500;
    color: rgb(0, 100,100);

}
