.sundo-shrapnel-container {
    display: flex;
    flex-direction: column;
}

.sundo-shrapnel-chapter-header {
    font-family: 'DancingScript';
    font-size: 50pt;
    font-weight: 900;
    text-align: left;
    padding-left: 60px;
}

.sundo-shrapnel-select-container {
    margin-top: 10px;
    position: relative;
    padding-left: 10px;
}

.sundo-shrapnel-chapter-container {
    margin-top: 10px;
    position: relative;
}
