@using Microsoft.AspNetCore.Components.Web


<div class="sundo-sidenav-writings">
    <h5 class="sundo-sidenav-writings-header">My writings</h5>
    <button type="button" class="sundo-sidenav-writings-aandj-pdf sundo-sidenav-writings-aandj-button" @onclick="OnPdfDownloadClicked">
        <i class="bi bi-download"></i> Angela & John Forever - PDF
    </button>
    <a href="https://angelaandjohnforever.com" class="sundo-sidenav-writings-aandj-website sundo-sidenav-writings-aandj-button">
       <i class="bi bi-link"></i> Angela & John Forever - Website
    </a>
</div>