@using Microsoft.AspNetCore.Components.Web


<div class="sundo-sidenav-writings">
    <h5 class="sundo-sidenav-writings-header">My writings</h5>
    <button type="button" class="sundo-sidenav-writings-button" @onclick="OnJohnAndAngelaPdfDownloadClicked">
        <i class="bi bi-download"></i> Angela & John Forever - PDF
    </button>
    <a href="https://angelaandjohnforever.com" class="sundo-sidenav-writings-button">
       <i class="bi bi-link"></i> Angela & John Forever - Website
    </a>
    <button type="button" class="sundo-sidenav-writings-button" @onclick="OnSimrebogenPdfClicked">
        <i class="bi bi-download"></i> Simrebogen v. 1.0 - The SoVs Manifesto - PDF
    </button>

</div>