@using Microsoft.AspNetCore.Components.Web


<div class="sundo-sidenav-writings">
    <h5 class="sundo-sidenav-writings-header">My writings</h5>
    <button type="button" class="sundo-sidenav-writings-button" @onclick="OnJohnAndAngelaPdfDownloadClicked">
        <img src="images/main/angela-and-john-logo-pdf.webp" height="20" />
    </button>
    <a href="https://angelaandjohnforever.com" class="sundo-sidenav-writings-button">
       <img src="images/main/angela-and-john-logo.webp" height="20"/>
    </a>
    <button type="button" class="sundo-sidenav-writings-button" @onclick="OnSimrebogenPdfClicked">
        <img src="images/main/simrebogen-button.webp" height="20" />
    </button>

</div>