.sundo-page {
    display: flex;
    flex-direction: column;
}

.sundo-topbar-container {
    position: sticky;
    top:0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 9000;
}

.sundo-main-below-topbar {
    top: 100px;
    position: relative;
    display: flex;
}

.sundo-main-layout-sidebar-container {
    position: sticky;
    top: 100px;
    bottom: 0px;
    width: 15%;
    padding: 0px;
    margin: 0px;
    background-color: rgba(210, 200, 200,0.3);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(40,40,40,0.5);
    box-shadow: 1px 1px 1px rgba(140,140,140,0.5);
}

main {
    height: 100%;
    content: '';
}

.sundo-main-shrinked {
    width: 85%;
}

.sundo-main-max {
    width: 100%;
}

