@inherits LayoutComponentBase

<div class="page sundo-page">
    <CascadingValue Value="_sessionState">
        <TopBarComponent></TopBarComponent>
        <main>
          @Body
        </main>
    </CascadingValue>
</div>
