@using SuneDoes.UI.Components;
@using SuneDoes.UI.Layout.Main.TopBar;
@inherits LayoutComponentBase

<div class="page sundo-page">
    <CascadingValue Value="_sessionState">
        <TopBarComponent></TopBarComponent>
        <main>
          @Body
        </main>
        @if(_sessionState.CurrentShowImages != null) 
        {
            <ImageShowComponent Images="_sessionState.CurrentShowImages" Title="@_sessionState.CurrentShowImagesTitle"></ImageShowComponent>
        }
    </CascadingValue>
</div>
