.sundo-sidenav-bar {
    position:sticky;
    top:100px;
    bottom:0px;
    padding: 20px;
    margin: 0px;
    background-color: transparent;
}

.sundo-sidenav-bar-header {
    font-family: 'Ink Free';
    font-size: 26pt;
    font-weight: 900;
}

.sundo-sidenav-bar-page {
    margin-top: 20px;

}

.sundo-sidenav-bar-page-button {
    width: 80px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.sundo-sidenav-bar-page-link {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(130,130,130,0.2);
    box-shadow: 0.5px 0.5px 1px rgba(60,60,60,0.5);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

