<div class="sundo-navbar">
    <div class="sundo-navbar-left"></div>
    <div class="sundo-navbar-title"></div>
    @if(_additionalLogo != null)
    {
        <div class="sundo-navbar-additional-logo">
            @_additionalLogo
        </div>
    }
</div>