@page "/"
@using Microsoft.AspNetCore.Components.Web
@inherits MasterPage

<PageTitle>Sune Does</PageTitle>

<div class="sundo-bg">
  <HomeAboutMeComponent></HomeAboutMeComponent>
  <HomeOnlineDatingComponent></HomeOnlineDatingComponent>
</div>
