<div class="sundo-meditation container-fluid">
    <div class="sundo-meditation-container ">
        <div class="row px-3">
            <div class="col-6">
                <div class="container-fluid mx-0 px-0">
                    <div class="row mx-0">
                        <div class="col-12 mx-0 px-0">
                            <h1 @onclick="OnImageClick" style="cursor: pointer;"><div class="sundo-meditation-title-prefix">Sune Does: </div>Meditation</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-0 px-0">
                            <p>
                                For many years, I considered myself a Buddhist and a pretty terrible Buddhist at that. I'd been postponing diving into 
                                the core of Buddhist praxis: meditation, but once I finally picked it up for real I found it to be a trifle... boring and passive. But there's no
                                reason meditation can't involve a more active approach to influencing your surroundings, is there? And so began my career as a 
                                Buddhist/Viking influencer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6"><div class="sundo-meditation-img" @onclick="OnImageClick" style="cursor: pointer;"></div></div>
        </div>
    </div>
</div>