<div class="card sundo-home-writing-card">
    <div class="card-header sundo-home-writing-card-header">
        @Title
    </div>
    <div class="card-body sundo-home-writing-card-body">
        @BodyFragment
    </div>
    <div class="card-footer sundo-home-writing-card-footer">
        @FooterFragment
    </div>
</div>