@media only screen and (max-width: 990px) {
    .sundo-bg {
        position: page;
        height: 3500px;
        width: 100%;
        background-image: url('images/main/master-layout.webp');
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media only screen and (min-width: 990px) {
    .sundo-bg {
        position: page;
        height: 2700px;
        width: 100%;
        background-image: url('images/main/master-layout.webp');
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
    .sundo-home-container-row {
        margin-top: 80px;
    }
