<div class="sundo-home-medicine container-fluid">
        <div class="row px-3">
            <div class="col-8">
                <div class="container-fluid mx-0 px-0">
                    <div class="row mx-0">
                        <div class="col-12 mx-0 px-0">
                        <h1 @onclick="OnImageClick" style="cursor: pointer;"><div class="sundo-home-medicine-title-prefix">Sune Does: </div>Dangerous Medicine Removal Service</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-0 px-0">
                            <p>Like most people who find their basic needs to be well-met I inevitably ask myself: "How can I share my prosperity and good fortune with my fellow man?"
                            </p>
                            <p>Truth be told, at 42 and with a very finely honed - though extremely specific - set of skills within a very
                                narrow field I really don't have all that much to offer... unless the homeless guy on the streets need
                                a custom-tailered software system for calculating the current value of his stock portfolio 🤔
                            </p>
                            <p>Aside from knowing a great ol' fuckton about writing mediocre financial software, my past studies in
                                applied medicine has led me to hold a substantial amount of information in dealing with dangerous medicine, and with 
                                yet another opioid epidemic blowing in from the Americas, I happily lend this knowledge to the service of mankind.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-4"><div class="sundo-home-medicine-img" @onclick="OnImageClick" style="cursor: pointer;"></div></div>
        </div>
</div>