<div class="sundo-about-me container-fluid">
        <div class="row px-3">
            <div class="col-6">
                <div class="container-fluid mx-0 px-0">
                    <div class="row mx-0">
                        <div class="col-12 mx-0 px-0">
                            <h1>I am Sune</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-0 px-0">
                            <p>
                                I am a pretty normal, easy-going fella who does pretty normal, easy-going stuff, but sometimes said stuff has weird and unforeseen results.
                                Lucky for you, some of those results have entertainment value for others than just me, and I share my experiences here... or well, the experiences I can share without fear of repercussions.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-0 px-0">
                            <h3 class="sundo-about-me-facts-header">Facts</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-0 px-0">
                            <table class="table table-sm table-borderless sundo-about-me-facts-table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Year of birth</th>
                                        <td>1982</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Type</th>
                                        <td>Nerd</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Weight</th>
                                        <td>85-100 kg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5"><div class="sundo-about-me-img"></div></div>
        </div>
</div>