.sundo-bg {
    position:page;
    height: 1500px;
    width: 100%;
    background-image: url('images/main/master-layout.webp');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
