<div class="sundo-home-medicine container-fluid">
        <div class="row px-3">
            <div class="col-8">
                <div class="container-fluid mx-0 px-0">
                    <div class="row mx-0">
                        <div class="col-12 mx-0 px-0">
                        <h1 @onclick="OnImageClick" style="cursor: pointer;"><div class="sundo-home-medicine-title-prefix">Sune Does: </div>Dangerous Medicine</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-0 px-0">
                            <p>I guess everyone's entitled to an oppinion, but personally I think Freud and his disciples placed way too great a significance 
                                on dreams and their role as 'outlets of repressed desires'. I'm of course not an authority on the subject, and you should
                                attribute about as much value to my oppinion as you would that of any other village idiot, and if a die-hard Freudian or trained 
                                'Dream Therapist' wants to take a crack at righting everything that's gone wrong in their lives by flexing the ol' dream-analysis-muscle
                                in honor of their trade, I'll happily supply the dream data I gathered during my 2024 flirt with <i>Lucid Dreaming</i>. Best of luck to you 🙏
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-4"><div class="sundo-home-medicine-img" @onclick="OnImageClick" style="cursor: pointer;"></div></div>
        </div>
</div>