@page "/"
@using Microsoft.AspNetCore.Components.Web
@inherits MasterPage

<PageTitle>Sune Does</PageTitle>

<div class="sundo-bg container-fluid">
    <div class="row sundo-home-container-row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-sm-12">
            <HomeAboutMeComponent></HomeAboutMeComponent>
        </div>
        <div class="col-lg-5"></div>
    </div>
    <div class="row sundo-home-container-row">
        <div class="col-lg-5"></div>
        <div class="col-lg-6 col-sm-12">
            <HomeMedicineComponent></HomeMedicineComponent>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row sundo-home-container-row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-sm-12">
            <HomeOnlineDatingComponent></HomeOnlineDatingComponent>
        </div>
        <div class="col-lg-5"></div>
    </div>
    <div class="row sundo-home-container-row">
        <div class="col-lg-5"></div>
        <div class="col-lg-6 col-sm-12">
            <HomeMeditationComponent></HomeMeditationComponent>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row sundo-home-container-row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-sm-12">
            <HomeLucidDreamingComponent></HomeLucidDreamingComponent>
        </div>
        <div class="col-lg-5"></div>
    </div>
    <div class="row sundo-home-container-row">
        <div class="col-lg-5"></div>
        <div class="col-lg-6 col-sm-12">
            <HomeWritingsComponent></HomeWritingsComponent>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div>
