@page "/"
@using Microsoft.AspNetCore.Components.Web
@inherits MasterPage

<PageTitle>Sune Does</PageTitle>

<div class="sundo-bg container-fluid">
    <div class="row">
        <div class="col-12">
            <HomeAboutMeComponent></HomeAboutMeComponent>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <HomeOnlineDatingComponent></HomeOnlineDatingComponent>
        </div>
    </div>
</div>
