<div class="sundo-lucid-dreaming-dream-container dream-font">
    <div class="sundo-lucid-dreaming-dream-bg"></div>
    <div class="sundo-lucid-dreaming-dream-text-container container-fluid">
        <div class="row">
            <div class="col-12 mt-1 mx-1">
                <h1 class="sundo-lucid-dreaming-dream-header">@DreamDate.ToString("dd-MM-yyyy")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-1 mx-1">
                <div class="sundo-lucid-dreaming-dream-details">
                    @TextPart
                </div>
            </div>
        </div>
    </div>
</div>