.sundo-lucid-dreaming-bg {
    font-family: 'Merienda';
    background-image: url('images/lucid-dreaming/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.sundo-lucid-dreaming-summary-container {
    margin-top: 30px;
    background-color: rgba(245,240,240,0.6);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px 5px rgba(30,30,30,0.9);
}

.sundo-lucid-dreaming-summary-container {
    font-size: 30pt;
    font-weight: bold;
}

.sundo-lucid-dreaming-dreams-container {
    display: flex;
    flex-wrap: wrap;

}


.sundo-lucid-dreaming-dreams-wrapper {
    margin-left: 80px;
    margin-right: 80px;
}