@page "/lucid-dreaming"
@using SuneDoes.UI.Pages.OnlineDating.Apps
@inherits MasterPage

<div class="sundo-lucid-dreaming-bg container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="sundo-lucid-dreaming-summary-container col-md-8 col-sm-12">
            <h1 class="sundo-lucid-dreaming-summary-header">Sune Does Lucid Dreaming</h1>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

