@page "/verify-email"
@using SuneDoes.UI.Layout
@using SuneDoes.UI.Pages.OnlineDating.Apps
@layout EmptyLayout

<div class="sundo-verify-email-page">
    @if(_errorMessage != null) {
        <div class="sundo-verify-email-error">@_errorMessage</div>
    }
    @if (_successMessage != null)
    {
        <div class="sundo-verify-email-success">@_successMessage</div>
    }
</div>

