.sundo-meditation-track-card {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ink Free';
    margin-top: 30px;
    background-color: rgba(245,240,240,0.6);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px 5px rgba(30,30,30,0.9);
}

.sundo-meditation-track-card-header {
    font-size: 20pt;
    color: rgb(244,244,244);
    display: flex;
    justify-content: space-between;
}

.sundo-meditation-header-link {
    font-size: 14pt;
    font-family: 'Old Standard TT';
    color: rgb(255, 106, 0);
}

.sundo-meditation-header-link-icon {
    margin-left: 10px;
}

.sundo-meditation-track-body {
    background-color: rgba(244,244,244,0.85);
}

@media only screen and (max-width: 990px) {
    .sundo-meditation-track-player-container {
        display: none;
    }
}
