
@media only screen and (max-width: 990px) {
    .sundo-space-quote {
        font-family: 'Ink Free';
        font-style: italic;
        font-size: 8pt;
        text-align: left;
        padding-left: 10%;
        width: 95%;
    }

    .sundo-space-quote-text {
        display: flex;
        flex-direction: column;
    }

    .sundo-space-quote-text-line {
        margin-top: 8px;
    }

    .sundo-space-quote-text-line {
    }

    .sundo-space-quote-footer {
        border-top: 1px solid rgba(40, 40, 40, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-top: 10px;
    }

    .sundo-space-quote-footer-name {
        font-weight: 900;
    }

    .sundo-space-quote-footer-sub-name {
    }


}

@media only screen and (min-width: 990px) {
    .sundo-space-quote {
        font-family: 'Ink Free';
        font-style: italic;
        font-size: 12pt;
        text-align: left;
        padding-left: 10%;
        width: 95%;
    }

    .sundo-space-quote-text {
        display: flex;
        flex-direction: column;
    }

    .sundo-space-quote-text-line {
        margin-top: 8px;
    }

    .sundo-space-quote-text-line {
    }

    .sundo-space-quote-footer {
        border-top: 1px solid rgba(40, 40, 40, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-top: 10px;
    }

    .sundo-space-quote-footer-name {
        font-weight: 900;
    }

    .sundo-space-quote-footer-sub-name {
    }



}

.quot-cold-war {
    background-image: url('images/space-and-time/cold-war-bg.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 45%;
}
