@media only screen and (max-width: 990px) {
    .sundo-space-part-container-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        z-index: 1000;
        cursor: pointer;
        overflow-x: hidden;
    }


    .sundo-space-part-container {
        position: fixed;
        left: calc(calc(100vw - 400px)/2);
        top: 60px;
        width: 400px;
        height: 1000px;
        font-family: 'SpecialElite';
        font-size: 6pt;
        cursor: default;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-width: 20px;
        border-style: solid;
        border-color: rgb(240,240,240);
        background-color: rgb(20,20,20);
        overflow-x: hidden;
    }


    .sundo-space-part-page {
        width: 350px;
        height: 1020px;
        background-image: url('images/space-and-time/matrix-paper.webp');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
    }

    .sundo-space-part-page-tab {
        display: none;
    }



    .sundo-space-part-content {
    }

    .sundo-space-part-focus {
        display: none;
    }

    .sundo-space-part-header {
        font-family: 'Ink Free';
        font-style: italic;
        font-size: 20pt;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        transform: rotate(-4deg);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sundo-space-part-header-name {
        font-size: 20pt;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .sundo-space-part-header-sub-name {
        margin-top: -20px;
        font-style: italic;
        font-size: 20pt;
        font-weight: 500;
    }


    .sundo-space-narration {
        padding-left: 25px;
        padding-right: 30px;
    }

    .sundo-space-context-break {
        position: relative;
        left: -38px;
        width: 367px;
        height: 45px;
        background-image: url('images/space-and-time/context-break-sm.webp');
        background-size: cover;
        background-repeat: no-repeat;
    }



}

@media only screen and (min-width: 990px) {
    .sundo-space-part-container-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        z-index: 1000;
        cursor: pointer;
        overflow-x: hidden;
    }


    .sundo-space-part-container {
        position: fixed;
        left: calc(calc(100vw - 1000px)/2);
        top: 20px;
        width: 1000px;
        height: 1400px;
        font-family: 'SpecialElite';
        font-size: 12pt;
        cursor: default;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-width: 20px;
        border-style: solid;
        border-color: rgb(240,240,240);
        background-color: rgb(20,20,20);
        overflow-x: hidden;
    }


    .sundo-space-part-page {
        width: 900px;
        height: 2623px;
        background-image: url('images/space-and-time/matrix-paper.webp');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 70px;
        padding-right: 110px;
    }

    .sundo-space-part-content {
    }

    .sundo-space-part-header {
        font-family: 'Ink Free';
        font-style: italic;
        font-size: 20pt;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        transform: rotate(-4deg);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sundo-space-part-header-name {
        font-size: 40pt;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .sundo-space-part-header-sub-name {
        margin-top: -20px;
        font-style: italic;
        font-size: 40pt;
        font-weight: 500;
    }


    .sundo-space-narration {
        padding-left: 25px;
        padding-right: 30px;
    }

    .sundo-space-context-break {
        left: 1px;
        width: 945px;
        margin-left: -90px;
        aspect-ratio: 367/45;
        background-image: url('images/space-and-time/context-break-sm.webp');
        background-size: cover;
        background-repeat: no-repeat;
    }



}