@using Malarkey.Abstractions
@using Malarkey.Abstractions.Authentication
@using Malarkey.Client.Authentication
@using Microsoft.AspNetCore.Authorization
@page "/login"
@*attribute [MalarkeyAuthenticatison()]*@

<PageTitle>Login</PageTitle>

<h3>Login</h3>

@code {

}
