@using Malarkey.Abstractions
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(AuthenticationSchemes = MalarkeyConstants.MalarkeyAuthenticationScheme)]

<PageTitle>Login</PageTitle>

<h3>Login</h3>

@code {

}
