@media only screen and (max-width: 990px) {


    .sundo-blocks-map-component {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url('images/blocks/small-background.webp');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 100;
    }

    .sundo-blocks-map-chapter {
        position: absolute;
        cursor: pointer;
        z-index: 110;
        background-color: rgba(240,240,240,0.2);
        border-radius: 5px;
    }

        .sundo-blocks-map-chapter:hover {
            background-color: rgba(99, 177, 207, 0.1);
        }

    #sundo-blocks-map-chapter-0 {
        width: 30%;
        height: 18.4%;
        top: 9.5%;
        left: 10.82%;
    }

    #sundo-blocks-map-chapter-1 {
        width: 30%;
        height: 18.4%;
        top: 23%;
        left: 55.82%;
        transform: rotate(8deg);
    }

    #sundo-blocks-map-chapter-2 {
        width: 30%;
        height: 19.8%;
        top: 34%;
        left: 12.8%;
        transform: rotate(-1deg);
    }

    #sundo-blocks-map-chapter-3 {
        width: 30%;
        height: 19.2%;
        top: 55.5%;
        left: 54.82%;
        transform: rotate(-1deg);
    }

    #sundo-blocks-map-chapter-4 {
        width: 30%;
        height: 19.2%;
        top: 73%;
        left: 20%;
        transform: rotate(-78deg);
    }
}



@media only screen and (min-width: 990px) {


    .sundo-blocks-map-component {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url('images/blocks/blocks-background.webp');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 100;
    }

    .sundo-blocks-map-chapter {
        position: absolute;
        width: 25%;
        height: 6%;
        cursor: pointer;
        z-index: 110;
        background-color: rgba(240,240,240,0.2);
        border-radius: 5px;
    }

        .sundo-blocks-map-chapter:hover {
            background-color: rgba(99, 177, 207, 0.3);
        }

    #sundo-blocks-map-chapter-0 {
        top: 11.5%;
        left: 61.82%;
    }

    #sundo-blocks-map-chapter-1 {
        top: 19%;
        left: 61.82%;
    }

    #sundo-blocks-map-chapter-2 {
        top: 27%;
        left: 61.82%;
    }

    #sundo-blocks-map-chapter-3 {
        top: 34.5%;
        left: 61.82%;
    }

    #sundo-blocks-map-chapter-4 {
        top: 42%;
        left: 61.82%;
    }
}
