<div class="sundo-online-dating-app-container container-fluid">
    <div class="row">
        <div class="col-4 sundo-online-dating-app-title">
            <h1><b>@Title</b></h1>
        </div>
        <div class="col-4 sundo-online-dating-app-image-container" onclick="@(() => OnImagesClick())">
            @foreach (var (img, indx) in Images.Select((_, indx) => (Image: _, Index: indx % NumberOfImagePositions)))
            {
                <img src="@img.Location" class="sundo-online-dating-app-image sundo-online-dating-app-image-@indx" />
            }
        </div>
        <div class="col-4 sundo-online-dating-app-logo-container">
            @AppLogo
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Text
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="sundo-online-dating-app-verdict-container container-fluid">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 sundo-online-dating-app-verdict-title mb-1">
                        <b>You should use @Title if:</b>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row sundo-online-dating-app-verdict">
                    <div class="col-12">
                        @TheVerdict
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>