.sundo-online-dating-app-container {
    background-color: rgba(245,240,240,0.6);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px 5px rgba(30,30,30,0.9);
}

.sundo-online-dating-app-title {
    font-family: '4 My Lover';
    font-size: 30px;
    font-weight:900;
}

.sundo-online-dating-app-logo-container {
    display: flex;
    justify-content:flex-end;
    margin-top: 8px;
}

.sundo-online-dating-app-image-container {
    margin-top:5px;
    display: flex;
}

.sundo-online-dating-app-img-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}

.sundo-online-dating-app-image {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.sundo-online-dating-app-image-0 {
    z-index: 100;
    transform: rotate(-1deg);
}

.sundo-online-dating-app-image-1 {
    z-index: 101;
    transform: rotate(7deg) scale(1.01) translate(-1px);
}

.sundo-online-dating-app-image-2 {
    z-index: 102;
    transform: translate(-10px);
}

.sundo-online-dating-app-image-3 {
    z-index: 100;
    transform: rotate(2deg) scale(1.1) translate(-15px);
}

.sundo-online-dating-app-image-4 {
    z-index: 101;
    transform: scale(1.1) translate(-20px);
}

.sundo-online-dating-app-image-5 {
    z-index: 99;
    transform: translate(-20px);
}