<div class="sundo-online-dating-app-container container-fluid">
    <div class="row">
        <div class="col-8 sundo-online-dating-app-title">
            <h1><b>@Title</b></h1>
        </div>
        <div class="col-4 sundo-online-dating-app-logo-container">
            @AppLogo
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Text
        </div>
    </div>
</div>