@page "/online-dating"
@using SuneDoes.UI.Pages.OnlineDating.Apps
@inherits MasterPage

<div class="sundo-online-dating-bg container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="sundo-online-dating-summary-container col-md-8 col-sm-12">
            <h1 class="sundo-online-dating-summary-header">Sune Does Online Dating</h1>
            <p>
                During 3 weeks of August and September 2024 I tried out online dating, by means of of the following apps:
            </p>
            <ul>
                <li><b>Tinder:</b> the only one of the apps I had heard of before</li>
                <li><b>Hinge:</b> had this one recommended as a more substantial alternative to Tinder</li>
                <li><b>Feeld:</b> was recommended as a WYSIWYG meat market in an article on www.dr.dk</li>
                <li><b>Happn:</b> not entirely sure how I came across this one... It may have been aforementioned article 🤔</li>
            </ul>
            <p>
                I also downloaded Bumble, but running out of ways to differentiate the different apps, I decided to dedicate that one to finding a
                tattoo chick willing to trade her time and energy in tattooing me with whatever un-inked skin she could find on my body and the experience that would come with the work of inking it up.
            </p>
            <p>
                I should probably mention from the get-go that I failed horribly at online dating, and finally lost interest in the endavour after a couple weeks
                of <i>swiping</i> and <i>hearting</i> without matching with anyone, so if you are looking for a tutorial to completing online dating anno 2024,
                I strongly advice you to <i>not</i> follow my example... or go ahead and do exactly as I did... you do you I suppose 🤷‍.
            </p>
            <p>
                I decided going into the experiement, that I was not going to pay for any of the services. Thinking about it now, I am not entirely sure why.
                It may have been that some shred of self-dignity refuses me to view myself as a commodity that I have to pay the damn dating services to sell.
                Or it may spring from the same part of me that would never pay for a parking spot at my place of employment, because why the hell would I want to pay to work.
                And I guess those two things may ultimately be the same, but determining that for a fact would require a level of introspection that exceeds
                what was allotted to me by an order of magnitude.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-1"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Tinder" Images="TinderImages">
                <AppLogo><TinderLogoComponent Height="30"></TinderLogoComponent></AppLogo>
                <Text>
                    <p>
                        I'll write sum'n about Tinder here
                    </p>
                </Text>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Hinge" Images="HingeImages">
                <AppLogo><HingeLogoComponent Height="30"></HingeLogoComponent></AppLogo>
                <Text>
                    <p>
                        I'll write sum'n about Hinge here
                    </p>
                </Text>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-1"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Feeld" Images="FeeldImages">
                <AppLogo><FeeldLogoComponent Height="40"></FeeldLogoComponent></AppLogo>
                <Text>
                    <p>
                        I'll write sum'n about Feeld here
                    </p>
                </Text>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Happn" Images="HappnImages">
                <AppLogo><HappnLogoComponent Height="40"></HappnLogoComponent></AppLogo>
                <Text>
                    <p>
                        I'll write sum'n about Happn here
                    </p>
                </Text>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="sundo-online-dating-footer">Mad props to <a href="http://pizzadude.dk">Pizza Dude DK</a> for use of font: <a href="https://www.1001fonts.com/download/4-my-lover.zip">4 My Lover</a></div>

</div>

