@page "/online-dating"
@using SuneDoes.UI.Pages.OnlineDating.Apps
@inherits MasterPage

<div class="sundo-online-dating-bg container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="sundo-online-dating-summary-container col-md-8 col-sm-12">
            <h1 class="sundo-online-dating-summary-header">Sune Does Online Dating</h1>
            <p>
                During 3 weeks of August and September 2024 I tried out online dating, by means of of the following apps:
            </p>
            <ul>
                <li><b>Tinder:</b> the only one of the apps I had heard of before</li>
                <li><b>Hinge:</b> had this one recommended as a more substantial alternative to Tinder</li>
                <li><b>Feeld:</b> was recommended as a WYSIWYG meat market in an article on www.dr.dk</li>
                <li><b>Happn:</b> not entirely sure how I came across this one... It may have been aforementioned article 🤔</li>
            </ul>
            <p>
                I also downloaded Bumble, but running out of ways to differentiate the different apps, I decided to dedicate that one to finding a
                tattoo chick willing to trade her time and energy in tattooing me with whatever un-inked skin she could find on my body and the experience that would come with the work of inking it up.
            </p>
            <p>
                I should probably mention from the get-go that I failed horribly at online dating, and finally lost interest in the endavour after a couple weeks
                of <i>swiping</i> and <i>hearting</i> without matching with anyone, so if you are looking for a tutorial to completing online dating anno 2024,
                I strongly advice you to <i>not</i> follow my example... or go ahead and do exactly as I did... you do you I suppose 🤷‍.
            </p>
            <p>
                I decided going into the experiement, that I was not going to pay for any of the services. Thinking about it now, I am not entirely sure why.
                It may have been that some shred of self-dignity prevented me from viewing myself as a commodity that I have to pay the damn dating services to sell.
                Or it may spring from the same part of me that would never pay for a parking spot where I work because why the hell would I want to pay to work (?!)
                And I guess those two things may ultimately boil down to the same thing, but determining that for a fact would require a level of introspection that exceeds
                what was allotted to me by an order of magnitude.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-1"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Tinder" Images="TinderImages">
                <AppLogo><TinderLogoComponent Height="30"></TinderLogoComponent></AppLogo>
                <Text>
                    <p>
                        Everybody knows Tinder in the same way everybody knows <a href="https://www.reddit.com/r/Jokes/comments/55gonm/my_favorite_joke_everyone_knows_dave/">Dave</a>,
                        and if you are going to do online dating, you'll have to do Tinder, so why not start there...?
                    </p>
                    <p>Tinder is HUGE! Too huge for my taste it turned out. Combined with the fact that Tinder doesn't really allow
                        their users a great deal of key strokes (I think it's like 150 characters, but you should google it if you really want to know) to express their personality, 
                        most of the time, all you have to go on when deciding which way to swipe is the images the users put up.
                    </p>
                    <p>I came by a fuckton of profiles of women stating something to the effect of: 'don't <i>heart</i> my profile if you are not looking for something serious',
                        and then nothing else on their profile to indicate what type of person they are, than a couple of facial images and one or two images of them showing off their ass 
                        (not as many boob-shots if you were wondering). Most of the time I respected the expressed wish for a sincere interest in establishing a long-term
                        relationship and just nix'ed past them but sometimes my mind would wander or I would be in that special kind of mood and would get to thinking: 'Uuuh, that looks nice' or
                        'I could go for some of that' and in the same way as you shouldn't go shopping while hungry, I would take it as my queue to get off the damn app and do something
                        productive (or <i>destructive</i> I'm sure some would argue) with my life.
                    </p>
                    <p>
                        I have this view of IT-services (that has probably been formalized by someone somewhere but who am I to say?), 
                        that the services that make it past their infant years, do so by providing their users with something of real value and when their market
                        share is sufficiently large, the company behind the services milk their product for maximum retun on behalf of their investors, and I certainly
                        got this feeling with Tinder. I remember listening to my younger colleagues recounting their Tinder-adventures with something like awe back
                        when I first heard about the app (around 2015). My feeling from the app now is, that it is in the part of it's lifecycle where the company
                        is milking it to death with payed subscriptions and whatnot.
                    </p>
                    <p>
                        When discussing my findings with some of my colleagues that are in an age-group 10-15 years above my own (guys in their mid-50's), I found
                        their experiences with Tinder to be vastly different from my own, and they tended to have a far more positive view of Tinder than I did. It may
                        be that they are more physically appealing than me (I doubt it, but who's to say?), or that they express a more smiling and forth-comming personality
                        than I do (which they undoubtedly do), but I can't help but be reminded of how facebook changed from being something that regular people used, to 
                        become something regular people's parents and grand-parents used, until it ultimately ended up the cesspool it is today.
                    </p>
                </Text>
                <TheVerdict>
                    If you identify as a <i>pickup artist</i> I would assume Tinder to be the place for you. If you stand out in ways that are easily expressed 
                    through profile images, I guess that would be beneficial. <br/>
                    If you are old, I think Tinder is definitely the place for you.
                </TheVerdict>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Hinge" Images="HingeImages" UseDarkModeForImages="true">
                <AppLogo><HingeLogoComponent Height="30"></HingeLogoComponent></AppLogo>
                <Text>
                    <p>
                        I hadn't heard of Hinge before embarking on this dating app adventure. I was running my mouth around the office about how I would
                        soon be drowning in Tinder-dates, and that if anybody wanted anything work-related from me, now would be a good time to get it before some 
                        Tinder-succubus would rock me into <i>The Great Sleep</i> through sexual exhaust (what did I know? I was 2 months younger back then), when 
                        a colleague of mine suggested Hinge as a more serious alternative and I though: 'why the hell not?'. And so I did.
                    </p>
                    <p>The basic operating model on Hinge is the same as on Tinder: you swipe left or right to either <i>heart</i> or <i>dis-heart</i> someone,
                        and you can pay for some kind of power-ups to scoot through more easily. Hinge has a few more ways for the user to express their personality
                        by means of answering a set of predefined questions, but the winning feature as I see it is that you can <i>heart</i> the different sections 
                        of a persons user profile. If for instance she has put in her <i>bio</i> (a little slang term for 'biography' common among habitual users of dating apps)
                        that she likes horses, you can <i>heart</i> that specific part AND add a comment about how your gym-buddies used to call you <i>Shadowfax</i> as a 
                        tribute to your endowment.
                    </p>
                    <p>
                        I came to really like the <i>'Heart n' comment'</i> feature of Hinge, and made it a rule to never <i>heart</i> a profile without 
                        <i>hearting</i> and commenting on a specific part, reasoning that if I couldn't come up with something intelligent to say about
                        a specific part of their profile (throughout the entire endavour I refrained from commenting stuff like: 'great tits' or 'U'r haawt'), I would
                        probably present myself as a dribbling fool if we were to meet in person.
                    </p>
                    <p>The user-base on Hinge (at least for women between 35 and 45 years of age), is smaller than it is on Tinder, so if you are an elite dating-apper,
                        you'll probably find the playing field to be too small. But then again: if you are an elite dating-apper, why the hell are you reading my review 🤣.
                        Personally, I rather liked the fact that the search-space was smaller.
                    </p>
                </Text>
                <TheVerdict>
                    If you are looking for the best chance to establish a serious, long-term relationship, and you are not old, I think Hinge is the app for you. <br/>
                    If you are old, you probably have to go with Tinder 🤷‍
                </TheVerdict>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-1"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Feeld" Images="FeeldImages">
                <AppLogo><FeeldLogoComponent Height="40"></FeeldLogoComponent></AppLogo>
                <Text>
                    <p>
                        I came across Feeld in an article about dating apps on <a href="http://dr.dk">DR.dk</a>, that highlighted the app as the go-to for people looking
                        for sex and who had a pretty good idea about what kind of sex they were looking for, as the app let's the user express sexual kinks and desires from 
                        a plethora of predefined options. I didn't really feel like sex was what I was looking for, but then again: maybe I WAS looking for sex and just didn't 
                        know it yet. Only one way to find out!
                    </p>
                    <p>My first shot at a <i>bio</i> was hopelessly naive, and after having spent just a couple of minutes on the app, it became clear to me that 
                       I was going to have to show a little more skin and lift up my skirt a little if I wanted to stand any chance of not being booed off stage. 
                       I also realized that I needed to approach my doings on the app in another fashion than I did on the other apps: if I didn't want to 
                       to come off as a <i>tease</i>, I should be ready to go on a 5 minutes notice with anyone I matched with. No: 'well, maybe I'd find her sexy 
                       if I got to know her' (something that has happened alot in real life); 'If you can't pipe, don't swipe'!
                    </p>
                </Text>
                <TheVerdict>
                    If you are in your 30's and have specific sexual kinks (preferably BDSM from the looks of the profiles I came across) and you have something
                    to offer sexually, I think Feeld is the place for you!<br />
                    I was made aware of a pretty lax approach to protection of user data on the app (<a href="https://mjg59.dreamwidth.org/70061.html">dreamwidth.org</a> and
                    <a href="https://fortbridge.co.uk/research/feeld-dating-app-nudes-data-publicly-available/">fortbridge.co.uk</a>), so unless you are shooting for a wide audience
                    for your nudes, you may just want to do the actual messaging elsewhere (from what I have heard, <a href="https://signal.org/">Signal</a> is best-of-breed).
                </TheVerdict>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row sundo-online-dating-app-row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <OnlineDatingAppComponent Title="Happn" Images="HappnImages">
                <AppLogo><HappnLogoComponent Height="40"></HappnLogoComponent></AppLogo>
                <Text>
                    <p>
                        When my son was around 5 years old he got into Pokèmon Go for a while, and seeing as he still didn't have the traffic rules down, I would accompany him around the area in search of Pokémon.
                        Now, I haven't the faintest idea about how Happn came into existence, but I like to think that some genius out there tried Pokèmon Go and thought: 'This is great! We should try it with chicks!'.
                    </p>
                    <p>Happn differentiates itself in incorporating the app device position data in determining which user profiles to present to the user. The other apps also have awareness of position data, and 
                        you can specify filters like: 'don't show me no honey mo than 10 kms from me', but in Happn it's a more integral part of the experience: you are only presented with other users whom you have been in close
                        proximity to. In essence, this constitutes a limitation in the user experience: instead of just making all potential matches available you have to do something to unlock profiles, and hence you'd think that 
                        this would weigh negatively in my view of the app, which indeed it might if it wasn't for my social and/or mental retardations, but fact of the matter is, that I found the challenge of unlocking  
                        'rare Pokèmons' really exciting and started taking all sorts of de-tours on my way to and from work just to find new and rare Pokèmon. In fact, I was planning on taking a day or two off work in order
                        to bike around mental institutions and drug-rehabs in the greater Copenhagen metropolitan area... but then I gave up on dating apps and never got around to it 🤷‍
                        The rarest Pokemón I found was a nice-looking young woman who advertised her border-line disorder.
                    </p>
                    <p>
                        Someone told me that Happn wasn't really supposed to be about collecting Pokémon, but for you to be able to consult your phone if you were out somewhere and saw someone you liked, so that you didn't 
                        end up making a fool of yourself for someone who was 'off the market'. I guess you can use the app like that as well (though personally, I think the Pokémon approach is a lot more attractive).
                        That same person also told me, that Happn is kinda shit at working with the GPS data, so the matching algorithm may be off 🤷‍
                    </p>
                </Text>
                <TheVerdict>
                    If you are on some kind of spectrum for behavioral disorders I have a feeling that you'll like Happn. <br/>
                    If you are the type that goes out and sees people you like and want to have a way of getting in touch with them afterwards, you might like Happn as well.
                </TheVerdict>
            </OnlineDatingAppComponent>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="sundo-online-dating-footer">Mad props to <a href="http://pizzadude.dk">Pizza Dude DK</a> for use of font: <a href="https://www.1001fonts.com/download/4-my-lover.zip">4 My Lover</a></div>

</div>

