@page "/medicine"
@using SuneDoes.UI.Pages.OnlineDating.Apps
@inherits MasterPage


<div class="sundo-medicine-bg container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <div class="sundo-medicine-intro-container container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="sundo-medicine-intro-header">BEWARE OF DANGEROUS MEDICINE</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="sundo-medicine-intro-details">
                            <p>
                                Unless you've been living in a cave or have made the smart decision to unsubscribe from all kinds of news feeds, you'll have come across articles warning you about a rise 
                                in the use of different types of dangerous medications: from trigger-happy and overworked psychiatrists forced by an evil medicine-lobby to toss ADHD-diagnoses stapled to
                                prescriptions for amphetamine derivatives left and right to entire cities becoming infected by fentanyl-zombies in the Americas, and I wouldn't blame you for feeling a little
                                overwhelmed by all of it. And as if the risk of being scratched or bitten by a crazed fentanyl-zombie during your families vacation
                                to the US wasn't enough,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="sundo-medicine-type-header">Opiates</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="sundo-medicine-container">
                <MedicineComponent MedicineName="FENTANYL" ImageFile="fentanyl-sample.webp" Temperature="MedicineComponent.MedicineTemperature.Burning">
                    <MedicineDescription>
                        <p>This is a nasty one, and the cause of a majority of opioid-related deaths under the current opioid epidemic.
                            Fentanyl is a synthetic opiate that you can think of kind of like <b><i>Heroin on Steroids</i></b> and is
                            deadly even in very small amounts. For an idea of its potency, know that it is sometimes administered in bandages for 
                            a very limited amount to be absorbed through the skin.
                        </p>
                        <p>Though fentanyl is at times applied in hospitals, you are probably more likely to stumble upon it 
                            buying counterfeit prescription painkillers, for instance the so-called 'pressed blues' (a boardwalk-impersonation of OxyContin). 
                        </p>
                    </MedicineDescription>
                    <Suggestion>
                        <p>DO NOT ATTEMPT TO HANDLE THIS DANGEROUS SUBSTANCE ON YOUR OWN! <br />
                            IF YOU SUSPECT TO HAVE OBTAINED MEDICINE LACED WITH FENTANYL, PLACE THE SUSPECTED CONTENTS IN A SEALED 
                            PLASTIC BAG OUT OF THE REACH OF CHILDREN AND CONTACT ME IMMEDIATELY!
                        </p>
                    </Suggestion>
                </MedicineComponent>
            </div>
            <div class="sundo-medicine-container">
                <MedicineComponent MedicineName="HEROIN" Temperature="MedicineComponent.MedicineTemperature.Burning">
                    <MedicineDescription>
                        <p>
                            If you are a child of the 1980's like me, you are very unlikely to unsuspectingly find yourself in possession of heroin believing
                            it to be a harmless painkiller. In fact, if you are in possession of heroin you are probably busy examining your feet for 
                            an uninfected vein to shoot up, and handing over your next shimmer of sunshine in the cold and desolate darkness that is your reality
                            is the last thing on your mind and hey: you do you!<br />
                            But who knows, maybe you are a concerned parent who has just come across a suspucious-looking bag of white or brown substance while
                            emptying the pockets of your lazy teenager (if it's white, it's probably just cocaine), and why chance it?
                        </p>
                    </MedicineDescription>
                    <Suggestion>
                        <p>
                            I very much doubt that your teenager is doing smack, but better be on the safe side and contact me.
                        </p>
                    </Suggestion>
                </MedicineComponent>
            </div>
            <div class="sundo-medicine-container">
                <MedicineComponent MedicineName="OXYCODONE" ImageFile="oxy-sample.webp">
                    <MedicineDescription>
                        <p>
                            Sold under brand names such as: OxyFast, OxyNorm, OxyIR (all 3 immediate-release forms) and OxyContin (extended/slow-release form),
                            oxycodone was the engine under the early 2000's US opioid epidemic, with Purdue Pharma reaking in a shit-ton of money behind the wheel.<br/>
                            Though the addictive 'qualities' of oxycodone are now well-known it is still regularly prescribed in either its immediate-release 
                            or extended-release forms for treatment of severe pain, for instance following surgical procedures, and most people in western societies
                            are likely to come across oxycodone at some point or another.
                        </p>
                    </MedicineDescription>
                    <Suggestion>
                        <p>
                            If you are prescribed oxycodone you very likely need it. Make sure to follow the doctor's advice on dosis, as it is possible
                            punch your own ticket from an oxycodone overdose. If you have been prescribed oxycodone but you feel like you don't really need it
                            for pain treatment anymore, but you kinda like the zonked out state it puts you in but you sort of have to up the dosis a little
                            to get that nice relaxed feeling back, NOW is the time to call Doctor Sune for a drug-rehab consultation, 
                            before selling off all your worldly belongings and riding the <i>white horse</i>into the oblivion!
                        </p>
                    </Suggestion>
                </MedicineComponent>
            </div>
            <div class="sundo-medicine-container">
                <MedicineComponent MedicineName="TRAMADOL" ImageFile="tramadol-sample.webp">
                    <MedicineDescription>
                        <p>
                            This is sort of a tricky one: 
                            <ul>
                                <li>on one hand, tramadol is an opioid used to treat moderate pains like long-term lower-back issues or those following
                                    a dentist surgery and can be thought of as kind of a minor sibling to oxycodone
                                </li>
                                <li>on the other hand, it has serotonin reuptake-inhibiting effects similar to popular antidepressants (it actually has 
                                    serotonin-norepinephrine reuptake-inhbiting effects like the SNRI-branch of antidepressants, but no need to get all
                                    technical here)
                                </li>
                            </ul>
                            You are very likely to come across tramadol during the process of some kind of medical treatment as it is often a preferred 
                            choice of pain treatment (over for instance oxycodone), and is believed to have a lower potential for drug abuse/addiction. 
                            It's effect on its users vary more than other opioids (from its SNRI-properties I suppose, but what do I know?): some users find tramadol very effective 
                            in treatment of pain, some users feel very ill when taking tramadol, and some (ab)users like to chug a couple 100 grams of tramadol
                            before going on a bender, reporting a calmer buzz when combining alcohol-intake with tramadol.
                        </p>
                    </MedicineDescription>
                    <Suggestion>
                        <p>
                            If you are prescribed tramadol as part of some kind of medical treatment and it works for you: go ahead. Follow the doctor's 
                            orders when it comes time to taper off, and enjoy your flirt with opioids. If you find it hard to taper off the meds or find yourself
                            in a prolonged period of bleakness after having stopped taking tramadol, you may be dealing with more than opioid withdrawal: 
                            you may be reacting to a serotonin-deficiency, and may benefit from treatment with antidepressants. If this is the case, contact
                            you doctor and if for some reason or other this is not an option, feel free to reach out to Doctor Sune ❤ <br/>
                            If you are prescribed tramadol and it just isn't working for you, contact Doctor Sune and I'll help you get rid of it in a safe and
                            ecologically viable way.
                        </p>
                    </Suggestion>
                </MedicineComponent>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="sundo-medicine-type-header">Stimulants</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="sundo-medicine-container">
                <MedicineComponent MedicineName="AMPHETAMINE & AMPHETAMINE-LIKE DRUGS" ImageFile="tramadol-sample.webp">
                    <MedicineDescription>
                        <p>
                            Actual amphetamine is seldomly used for medical treatments, but amphetamine-like drugs like methylphenidate and lisdexamphetamine is
                            often used to treat behavioural disorders like ADD and ADHD. Methylphenidate is sold under brand names like Ritalin 
                            (comes in instant-release and extended-release editions) and Concerta 
                            (strictly extended-release) while lisdexamphetamine is sold under the brand name Elvanse. Although it is possible to do the final
                            checkout on stimulants, you are more likely to step out of the checkout line from physical discomforts like: 
                            nausea, shaking and headache before it gets to that (similar to drinking too much coffee). <br/>
                            If you are in possession of an amphetamine-like drug, chances are that:

                            <ol>
                                <li>your erratic behaviour has finally made the people closest to you demand that you be checked by a professional for
                                    a behavioural disorder
                                </li>
                                <li>
                                    you have recklessly put off starting an important project/assignment and now you have just 10 hours until deadline
                                </li>
                                <li>
                                    you are the parent of a young person who has recklessly put off starting an important project/assignment....
                                </li>
                            </ol>

                            If no. 2 applies to you, maybe you should nip things in the bud and have a chat with your doctor about whether you may suffer 
                            from some kind of behavioural disorder, as it is not uncommon for people with dopamine deficiencies to postpone boring tasks
                            until the very last moment in order to trigger the adrenaline-release needed for them to complete the task. If no. 3 applies to 
                            you and your son/daughter, consider it an opportunity for the two of you to spend some quality time together while filling 
                            out the DIVA 2.0 ADHD diagnostic interview. If you are really lucky, you have a spouse to help you guys get through (though 
                            they may pull out their hair and OMG in frustration along the way). <br/>
                            The funny thing about amphetamine and the various amphetamine-like prescription drugs on the market is, that if you for some reason
                            or another end up trying them out and discovering that they have a positive effect on you, it's not unlikely that you fit the criteria
                            for being prescribed them legally and I recommend that you seriously consider this option (instead of just plowing onwards to meth 
                            and smack through the great buffet of illegal substances offered in most parts of the Western World). <br/>

                        </p>
                        <h3>Methylphenidate</h3>
                        <p></p>

                    </MedicineDescription>
                    <Suggestion>
                        <p>
                            If you are prescribed tramadol as part of some kind of medical treatment and it works for you: go ahead. Follow the doctor's
                            orders when it comes time to taper off, and enjoy your flirt with opioids. If you find it hard to taper off the meds or find yourself
                            in a prolonged period of bleakness after having stopped taking tramadol, you may be dealing with more than opioid withdrawal:
                            you may be reacting to a serotonin-deficiency, and may benefit from treatment with antidepressants. If this is the case, contact
                            you doctor and if for some reason or other this is not an option, feel free to reach out to Doctor Sune ❤ <br />
                            If you are prescribed tramadol and it just isn't working for you, contact Doctor Sune and I'll help you get rid of it in a safe and
                            ecologically viable way.
                        </p>
                    </Suggestion>
                </MedicineComponent>
            </div>

        </div>
    </div>


</div>

