@page "/medicine"
@using SuneDoes.UI.Pages.OnlineDating.Apps
@inherits MasterPage


<div class="sundo-medicine-bg container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <div class="sundo-medicine-container">
                <div class="sundo-lucid-medicine-text-container container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="sundo-medicine-header">BEWARE OF DANGEROUS MEDICINE</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="sundo-medicine-details">
                                <p>
                                    Unless you've been living in a cave or have made the smart decision to un-subscribe to all kinds of news feeds, you'll have come across articles warning you about a rise 
                                    in the use of different types of dangerous medications: from trigger-happy and overworked psychiatrists forced by an evil medicine-lobby to toss ADHD-diagnoses stepled to
                                    prescriptions for amphetamine derivatives left and around, to entire cities becoming infected by fentanyl-zombies in the Americas, and I wouldn't blame you for feeling a little
                                    overwhelmed by all of it. And as if the risk of being scratched or bitten by a crazed fentanyl-zombie during your families vacation
                                    to the US 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="sundo-lucid-dreaming-dreams-container">
                <MedicineComponent MedicineName="FENTANYL">
                    <MedicineDescription>
                        <p>This is a nasty one, and the cause of a majority of opioid-related deaths under the current epidemic.
                            Fentanyl is a synthetic opiate that you can think of kind of like <b><i>Heroin on Steroids</i></b> and is
                            deadly even in very small amounts. For an idea of its potency, know that it is sometimes sold in bandages, for 
                            a very limited amount to be absorbed through the skin.
                        </p>
                        <p>Though fentanyl is at times administered in hospitals, you are probably more likely to stumble upon it 
                            buying counterfeit prescription painkillers. 
                        </p>
                    </MedicineDescription>
                    <Suggestion>
                        <p>DO NOT ATTEMPT TO HANDLE THIS DANGEROUS SUBSTANCE ON YOUR OWN! <br />
                            IF YOU SUSPECT TO HAVE OBTAINED MEDICINE LACED WITH FENTANYL, PLACE THE SUSPECTED CONTENTS IN A SEALED 
                            PLASTIC BAG OUT OF THE REACH OF CHILDREN AND CONTACT ME IMMEDIATELY!
                        </p>
                    </Suggestion>
                </MedicineComponent>
            </div>
        </div>
    </div>
</div>

