@page "/medicine"
@using SuneDoes.UI.Pages.OnlineDating.Apps
@inherits MasterPage


<div class="sundo-medicine-bg container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8 col-sm-12">
            <div class="sundo-medicine-container">
                <div class="sundo-lucid-medicine-text-container container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="sundo-medicine-header">BEWARE OF DANGEROUS MEDICINE</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="sundo-medicine-details">
                                <p>
                                    In the end, I had a couple of dreams during which I became aware that I was dreaming, but I didn't become omnipotent and I couldn't fly,
                                    and then I got cold feet: <i>"imagine if I end up always being aware that I am dreaming, but unable to do what I want and just
                                    end up putting in more hours working (!)"</i>. I might pick up the practice again at some point, but in the meantime I present to 
                                    any die-hard Freudians out there a challenge to derive any kind of meaning or reason out of the nonsense that was my dreams of January 2024.
                                    I have had to translate my diary from Danish, and I have anonymised a few names here and there but otherwise, the entries are as I wrote them down.
                                    Re-reading my notes in November 2024, there are a couple of entries that have made me go "WTF?!" and others I feel warrant an explanation, and 
                                    for the latter cases, I have a supplied a popup with additional. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="sundo-lucid-dreaming-dreams-container">
                <MedicineComponent MedicineName="FENTANYL">
                    <MedicineDescription>
                        <p>You should probably look out</p>
                    </MedicineDescription>
                    <Suggestion>
                        <p>Call me immidiately</p>
                    </Suggestion>
                </MedicineComponent>
            </div>
        </div>
    </div>
</div>

