.sundo-topbar-expand-button {
    background-color: rgba(90,90,90,0.5);
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: rgb(50,50,50);
    border-radius: 5px;
    border-width: 0.5px;
}

.sundo-topbar-expand-icon {
    font-size: 20pt;
    color: rgb(243, 229, 222);

}

