@using Microsoft.AspNetCore.Components.Web
@using SuneDoes.UI.Session
<div class="sundo-topbar-expand">
    <button type="button" class="sundo-topbar-expand-button" @onclick="OnClick">
        @if (SessionState.SideBarExpanded)
        {
            <i class="bi bi-arrow-left-square-fill sundo-topbar-expand-icon"/>

        }
        else
        {
            <i class="bi bi-arrow-right-square-fill sundo-topbar-expand-icon"/>
        }
    </button>

</div>

@code {

    [CascadingParameter]
    public SessionState SessionState { get; set; }

    private void OnClick(MouseEventArgs ev)
    {
        SessionState.SideBarExpanded = !SessionState.SideBarExpanded;
    }
}
