<div class="sundo-soundcloud-player">
    <iframe width="200px"
            height="150px"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/@(TrackId)&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
    </iframe>
    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        <a href="@(TrackProducerUrl)"
           title="@(TrackProducer)" target="_blank" style="color: #cccccc; text-decoration: none;">
            @TrackProducer
        </a> · <a href="@TrackUrl"
                  title="@TrackTitle"
                  target="_blank"
                  style="color: #cccccc; text-decoration: none;">
            @TrackTitle
        </a>
    </div>
</div>


@code {
    [Parameter]
    public string TrackId { get; set; }

    [Parameter]
    public string TrackProducer { get; set; }

    [Parameter]
    public string TrackProducerUrl { get; set; }

    [Parameter]
    public string TrackTitle { get; set; }

    [Parameter]
    public string TrackUrl { get; set; }

}