@font-face {
    font-family: '4 My Lover';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/4mylover.ttf');
}

@font-face {
    font-family: 'Norse';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Norse.otf');
}

@font-face {
    font-family: 'Norse';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/Norsebold.otf');
}

@font-face {
    font-family: 'Ink Free';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Inkfree.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 100;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Light.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Regular.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Medium.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 600;
    font-style: normal;
    src: url('fonts/merienda/Merienda-SemiBold.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Bold.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Black.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 900;
    font-style: normal;
    src: url('fonts/merienda/Merienda-ExtraBold.ttf');
}

@font-face {
    font-family: 'DangerZone';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/dangerzone.ttf');
}

@font-face {
    font-family: 'DancingScript';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/DancingScript.ttf');
}

@font-face {
    font-family: 'Cormorant';
    font-weight: 100;
    font-style: normal;
    src: url('fonts/cormorant/CormorantGaramond-Light.ttf');
}
@font-face {
    font-family: 'Cormorant';
    font-weight: 100;
    font-style: italic;
    src: url('fonts/cormorant/CormorantGaramond-LightItalic.ttf');
}

@font-face {
    font-family: 'Cormorant';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/cormorant/CormorantGaramond-Medium.ttf');
}
@font-face {
    font-family: 'Cormorant';
    font-weight: 300;
    font-style: italic;
    src: url('fonts/cormorant/CormorantGaramond-MediumItalic.ttf');
}

@font-face {
    font-family: 'Cormorant';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/cormorant/CormorantGaramond-Regular.ttf');
}
@font-face {
    font-family: 'Cormorant';
    font-weight: 500;
    font-style: italic;
    src: url('fonts/cormorant/CormorantGaramond-RegularItalic.ttf');
}

@font-face {
    font-family: 'Cormorant';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/cormorant/CormorantGaramond-SemiBold.ttf');
}
@font-face {
    font-family: 'Cormorant';
    font-weight: 700;
    font-style: italic;
    src: url('fonts/cormorant/CormorantGaramond-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Cormorant';
    font-weight: 900;
    font-style: normal;
    src: url('fonts/cormorant/CormorantGaramond-Bold.ttf');
}
@font-face {
    font-family: 'Cormorant';
    font-weight: 900;
    font-style: italic;
    src: url('fonts/cormorant/CormorantGaramond-BoldItalic.ttf');
}

@font-face {
    font-family: 'DrippingMarker';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/adrip1.ttf');
}

@font-face {
    font-family: 'ShadowsIntoLight';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/SHADOWSINTOLIGHT-REGULAR.TTF');
}

@font-face {
    font-family: 'SpecialElite';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/SpecialElite-Regular.ttf');
}
