@font-face {
    font-family: '4 My Lover';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/4mylover.ttf');
}

@font-face {
    font-family: 'Norse';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Norse.otf');
}

@font-face {
    font-family: 'Norse';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/Norsebold.otf');
}

@font-face {
    font-family: 'Ink Free';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Inkfree.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 100;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Light.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Regular.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Medium.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 600;
    font-style: normal;
    src: url('fonts/merienda/Merienda-SemiBold.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Bold.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/merienda/Merienda-Black.ttf');
}

@font-face {
    font-family: 'Merienda';
    font-weight: 900;
    font-style: normal;
    src: url('fonts/merienda/Merienda-ExtraBold.ttf');
}