@font-face {
    font-family: '4 My Lover';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/4-my-lover.ttf');
}

@font-face {
    font-family: 'Norse';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Norse.otf');
}

@font-face {
    font-family: 'Norse';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Norsebold.otf');
}

